body
{
    font-family: 'Raleway'; 
    font-size: 19px;
}

ul,
li,
p,
a,
h1,
h2,
h3
{
    margin: 0;
    padding: 0;

    list-style: none;

    text-decoration: none;
}

a
{
    color: #000;
}

a:hover
{
    text-decoration: none;
}

.container
{
    width: 1280px;
}

.header
{
    padding-top: 25px;
}

.header__navigation
{
    display: flex;
            flex-direction: row;

    padding-bottom: 15px;

    vertical-align: flex-start;

    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.header__navigation__search
{
    position: relative;
}
.header__navigation__search input
{
    width: 170px;
    padding-left: 30px; 

    border: none;
}
.header__navigation__search img
{
    position: absolute;
    top: 0;
    left: 0;
}

.header__navigation__list
{
    display: flex;
            flex-direction: row; 

    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
}

.header__navigation__list__item
{
    font-weight: bold; 

    margin-right: 70px;
}
.header__navigation__list__item:first-child a
{
    color: #a7a7a7;
}

.header__navigation__language
{
    font-weight: bold;

    align-items: flex-end;
}
.header__navigation__language__list
{
    display: flex;
}
.header__navigation__language__list__item
{
    margin-left: 20px;
}
.header__navigation__language__list__item:first-child a
{
    color: #a7a7a7;
}

.logo
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.logo__small-plan
{
    margin-bottom: 90px;
}
.logo__main
{
    margin-bottom: 130px;
}

.slider
{
    font-family: 'Fira Sans';
    font-weight: 900;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.slider__list
{
    display: flex;
    flex-direction: column;

    width: 31vw;
}
.slider__list__item
{
    font-size: 36px;

    padding-top: 95px;
    padding-bottom: 90px;

    cursor: pointer; 
    text-align: center;

    color: #fff;
}
.slider__list__item-1
{
    background: #f00;
}
.slider__list__item-2
{
    background: #da0000;
}
.slider__list__item-3
{
    background: #b80000;
}
.slider__output
{
    width: 69vw;

    background: #e5e5e5;
}
.slider__output__buttons
{
    display: flex;
    flex-direction: row;

    margin-top: 40px; 
    margin-left: 40px;
}
.slider__output__buttons__one
{
    width: 10px;
    height: 10px;
    margin-right: 10px;

    cursor: pointer; 

    border-radius: 5px;
    background: #ababab;
}
.slider__output__buttons__one:first-child
{
    background: #000;
}
.slider__output__main
{
    position: relative;
    position: absolute;
    z-index: 20; 

    display: flex;
    display: none;
    flex-direction: row;

    margin-top: 220px;
    margin-bottom: 80px;
    margin-left: 80px;
}
.slider__output__main:first-child
{
    display: block;
}
.slider__output__main img
{
    position: absolute;
    top: -120px;
    left: 230px; 

    max-width: 600px;
    max-height: 420px;
}
.slider__output__main__content h2
{
    font-size: 76px;
    font-weight: 900;
}
.slider__output__main__content h3
{
    font-size: 48px;

    margin-bottom: 25px; 

    color: #ff9595;
}
.slider__output__main__content p
{
    font-family: 'Raleway';

    max-width: 365px;

    color: #676767;
}

.main
{
    font-family: 'Fira Sans';
    font-weight: bold;

    position: relative;

    width: 1200px;
    margin: 0 auto;
    
}
.main__header
{
    font-size: 392.85px;
    font-weight: 900;

    position: relative;
    left: -60px;

    display: block;

    text-transform: uppercase; 

    opacity: .1;
    color: #818181;
}
.main__container
{
    position: relative;
    top: -720px; 

    width: 1280px;
}
.main__galerry__top
{
    display: flex;
            flex-direction: row;

    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    align-items: flex-end;
}
.main__galerry__items-top
{
    position: relative; 

    width: 426px;
    height: 570px;

    opacity: .9;
    background: #000;
}
.main__galerry-bottom
{
    display: flex;
            flex-direction: row;

    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    align-items: flex-start;
}
.main__galerry__items
{
    position: relative; 

    width: 319.5px;
    height: 430px;

    background: #000;
}
.main__galerry__items__image
{
    display: block;

    width: 100%;
    height: 100%; 
    margin-right: auto;
    margin-left: auto;

    opacity: .5;
}

.main__galerry__items__description
{
    position: absolute;
    bottom: 50px;
    left: 35px;
}
.main__galerry__items__description__button
{
    font-size: 16px;
    font-weight: bold; 

    margin-top: 35px;
    padding: 15px 40px;

    cursor: pointer;

    color: #000;
    border: none;
    background: #fff;
}

.main__galerry__items__text__top
{
    font-size: 29px; 

    margin-bottom: 5px;

    color: #fff;
}

.main__galerry__items__text__bottom
{
    font-size: 19px; 

    color: #c0c0c0;
}

.main__galerry__items-top:hover
{
    width: 476px;
    height: 610px; 

    background: #dc0202;
}

.main__galerry__items-top:hover img
{
    opacity: .1;
}

.main__galerry__items:hover
{
    width: 360px;
    height: 470px; 

    background: #dc0202;
}

.main__galerry__items:hover img
{
    opacity: .1;
}

.main__galerry__corner
{
    position: relative;
}

.main__galerry__corner-top
{
    top: -10px;
    left: -20px;
}

.main__galerry__corner-bottom
{
    position: absolute;
    right: -20px; 
    bottom: -30px;
}

.main__galerry__bottom__corner-bottom
{
    position: absolute;
    right: 140px; 
    bottom: -50px;
}

.main__galerry__bottom
{
    position: absolute;
    bottom: 80px;
    left: -20px;

    opacity: .9;
}
.main__galerry__bottom__images
{
    display: flex;
            flex-direction: row; 

    -webkit-flex-direction: row;
        -ms-flex-direction: row;
}
.main__galerry__bottom__images__instagram
{
    width: 290px;
    height: 290px;
}
.main__galerry__bottom__images__instagram__link
{
    font-family: 'Raleway';
    font-weight: 900; 

    color: #f00;
}
.main__galerry__bottom__images__instagram__top
{
    font-family: 'Fira Sans';
    font-size: 30px;
    font-weight: bold;

    display: flex;
            flex-direction: row;

    margin-top: 100px;
    margin-bottom: 10px;

    color: #161c32; 

    -webkit-flex-direction: row;
        -ms-flex-direction: row;
}
.main__galerry__bottom__images__instagram__top img
{
    margin-right: 20px;
}
.main__galerry__bottom__images__image
{
    width: 290px;
    height: 290px;
}

.main__galerry__bottom__images__image
{
    position: relative;
}
.main__galerry__bottom__images__image button
{
    position: absolute;
    top: 50%;
    left: 120px;

    display: none; 

    border: none;
    background: transparent;
}

.main__galerry__bottom__images__image:hover
{
    position: relative;
    z-index: -2px;
    top: 7px;
    right: 7px;

    background: #ff0400;
    -webkit-box-shadow: 0 22px 29px -8px #da8e8e;
       -moz-box-shadow: 0 22px 29px -8px #da8e8e;
            box-shadow: 0 22px 29px -8px #da8e8e;
}

.main__galerry__bottom__images__image:hover button
{
    z-index: 100;

    display: block;

    cursor: pointer;

    opacity: 1;
}

.main__galerry__bottom__images__image:hover img
{
    opacity: .2;
}

.main__header-bottom
{
    font-size: 302.85px;
    font-weight: 900;

    position: relative;
    top: 800px;
    left: -60px;

    display: block;

    white-space: nowrap;
    text-transform: uppercase; 

    opacity: .1;
    color: #818181;
}

.footer
{
    font-size: 19px;
    width: 100vw;
    margin-top: 200px; 
    color: #888;
    background: #000;
}
.footer__container
{
    position: relative;

    display: flex;
            flex-direction: row;

    max-width: 1200px;
    margin: 0 auto;

    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

.links
{
    margin-top: 110px;
}
.links__left
{
    margin-right: 40px;
}
.links__information
{
    white-space: normal;
}
.links__link
{
    margin-top: 80px;

    text-decoration: underline; 

    color: #fff;
}
.links__copy
{
    margin-top: 30px;
}

.links__container
{
    line-height: 29px;

    display: flex;
            flex-direction: row;

    white-space: normal; 

    -webkit-flex-direction: row;
        -ms-flex-direction: row;
}

.links__social
{
    display: flex;
            flex-direction: row;

    margin-bottom: 45px; 

    -webkit-flex-direction: row;
        -ms-flex-direction: row;
}
.links__social img
{
    margin-right: 20px;
}

.map
{
    position: relative;
    top: -70px; 

    width: 540px;
    height: 500px;
}

.line
{
    width: 100%;
    height: 2px;

    background: #ebebeb;
}
